/* @font-face {
    font-family: 'Arcade';
    src: url("data:application/font-woff2;charset=utf-8;base64,") format("woff2");
    font-weight: 400;
    font-style: normal;
    unicode-range: 0030-0039, 0041-005A;
  } */
  
  @font-face {
    font-family: arcade;
    src: url(../../assets/fonts/arcadeclassicregular.ttf);
}