@font-face {
    font-family: 'ArcadeClassic';
    src: url('ArcadeClassic.eot');
    src: url('ArcadeClassic.eot?#iefix') format('embedded-opentype'),
        url('ArcadeClassic.woff2') format('woff2'),
        url('ArcadeClassic.woff') format('woff'),
        url('ArcadeClassic.svg#ArcadeClassic') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

