extends layout

block content
    .gameContainer
        .gameInfo
            h1.header Halo 
            h4.header Playing vs Bot 
            .score Score
        div.GridContainer
            div#box1.box
            div#box2.box
            div#box3.box
            div#box4.box
            div#box5.box
            div#box6.box
            div#box7.box
            div#box8.box
            div#box9.box
            div#box10.box
            div#box11.box
            div#box12.box
            div#box13.box
            div#box14.box
            div#box15.box
            div#box16.box
            div#box17.box
            div#box18.box
            div#box19.box
            div#box20.box
            div#box21.box
            div#box22.box
            div#box23.box
            div#box24.box
            div#box25.box

