extends layout

block content
    .container 
        #title 
            h1.header Halo 
        .items 
            .item Single Player 
            .item 
                a(href='mulroom') MultiPlayer 
            .itemlast 
                .iteml.item1 Settings
                .iteml.item2 Exit
