extends layout

block content
    .box 
        #title 
            h1.header Halo 
        .items 
            .item Single Player 
            .item MultiPlayer 
            .itemlast 
                .iteml.item1 Settings 
                .iteml.item2 Exit
            
            