doctype html
html(lang="en")
    head
        title  Halo
        style
            include ./styles/style.css
        
        body
            div#stars1
            div#stars2
            div#stars3
            block content
            