extends layout

block content
    .box 
        #title 
            h1.header Halo 
        .itemsmul.items 
            .item Enter Name
            .item Create Room 
            .item Join Room
            .itemlast 
                .iteml.item1 Settings 
                .iteml.item2 Exit