.single-gameContainer{
  color: white;
  /* width: 100%;
  height: 100%; */
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;      
  /* margin: 10vh auto;  */
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.single-speaker{
width: 6%;
height: 6%;
position: absolute;
top: 10px;
right: 10px;
cursor: pointer;
}
.single-speakerIcon{
width: 100%;
}
.single-gameInfo{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
/* font-size: 2.2rem; */
}

.single-gridContainer{
display: grid;
grid-template-columns: repeat(5, 1fr);
grid-template-rows: repeat(5, 1fr);
align-items: center;
justify-items: center;
column-gap: 15px;
row-gap: 15px;
/* width: 40vw;
height: 60vh; */
}
.single-box{
position: relative;
background: white;
width: 7vw;
height: 7vw;
cursor : pointer;
transition : all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
}
.single-boxGreen{
position: relative;
background: green;
width: 100px;
height: 100px;
cursor : pointer;
transition : all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
}
.single-box:hover{
background: #6AC055;
transition : all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
}

.playervs-header{
margin: 0;
}

.single-headerhalo{
margin-top: 0;
}

@media only screen and (max-width: 850px) and (min-width: 669px){
.single-gameContainer {
  width: 100%;
  height: 100%;
  text-align: center;
}

  .single-gameInfo{
    width: 30%;
    height: 100%;
    font-size: 85%;
  }
  .single-gridContainer{
    column-gap: 10px;
    row-gap: 10px;
  }
  .single-box{
    width: 60px;
    height: 60px;
  }
  
} 

@media only screen and (max-width: 670px) {
/* For mobile phones: */
.single-gameContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.single-gridContainer{
  column-gap: 15px;
  row-gap: 15px;
}
.single-box{
  width: 55px;
  height: 55px;
}
.single-headerhalo{
  margin: 0;
}
.playerturn{
  margin-bottom: 20px;
}
.single-speaker{
  width: 10%;
  height: 10%;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
.single-speakerIcon{
  width: 100%;
}
.playervs-header{
  margin:0;
}
.name-header{
  margin: 30px 0 0px 0;
}
.single-score{
  margin-bottom: 30px;
}

}

@media only screen and (max-width: 500px){
.single-gameContainer{
  font-size: 90%;
}
}

@media only screen and (max-width: 1100px) and (min-width: 849px){
.single-gameContainer {
  width: 100%;
  height: 100%;
  text-align: center;
}
  .single-box{
    width: 70px;
    height: 70px;
  }

}

@media only screen and (max-width: 425px) {
  /* For mobile phones: */
  .header{
    margin: 15px;
  }
  .single-gridContainer{
    row-gap: 6px;
    column-gap: 6px;
    /* width: 500px; */
  }
  .single-box{
    width: 50px;
    height: 50px;
  }
  .single-score{
    margin-bottom: 5px;}
}