.home-header {
	color: white;
	font-family: 'ArcadeClassic';
}

/* ul {
	list-style: none;
} */

.instructions {
	position: absolute;
	color: white;
	height: 100vh;
	overflow: auto;
	align-items: center;
	display: flex;
	flex-direction: column;
}

.table {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	padding: 0 5% 5% 5%;
}

.column {
	padding: 3%;
	display: flex;
	flex-direction: column;
}

img {
	width: 100%;
}

#home-button{
	margin-bottom: 50px;
	padding: 0 30px;
}

.image-border {
	align-self: center;
	width: 75%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 2px;
	background-color: white;
}

@media (max-width: 600px) {
	.instructions {
		font-size: 28px;
	}

	.image-border {
		width: 100%;
	}
}