.multiend-container{
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: white;
}

.multiend{
    position: absolute;
    width: 350px;
    height: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #141c27;
  }
.multiend-options{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    width: 100%;
}

.multiend-linkHome{
    width: 30%;
    text-decoration: none;
}
.multiend-option{
    transition: background-color 0.5s ease;
    border: 1px solid white;
    /* width: 100%; */
}

.multiend-option1{
    cursor: pointer;
    width: 30%
}

.multiend-option2{
    width: 100%;
}


.multiend-option:hover{
    background-color: white;
    color: #141c27;
}
#rank{
    
}

/* @media only screen and (max-width: 1200px) and (min-width: 900px){
    .multiend-container{
        width: 70%;
    }
} */

@media only screen and (max-width: 768px){
    .multi-gameContainer{
        display: flex;
        flex-direction: column;
    }
}
