.gameContainer{
    color: white;
    /* width: 100%;
    height: 100%; */
    position: relative;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;  	
    /* margin: 25vh auto;  */
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  
  .gameInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .score{
    color: inherit;
  }
  
  .GridContainer{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    align-items: center;
    justify-items: center;
    column-gap: 15px;
    row-gap: 15px;
  }
  .box{
    position: relative;
    background: white;
    width: 100px;
    height: 100px;
    cursor : pointer;
    border-radius: 2px;
    transition : all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
  }
  .boxGreen{
    position: relative;
    background: green;
    width: 100px;
    height: 100px;
    cursor : pointer;
    transition : all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
  }
  .box:hover{
    background: #6AC055;
    transition : all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
  }

  @media only screen and (max-width: 850px) and (min-width: 769px){
    /* For mobile phones: */
    .gameContainer {
      width: 100%;
      height: 100%;
      text-align: center;
    }

      .gameInfo{
        width: 30%;
        height: 30%;
      }
      .box{
        width: 80px;
        height: 80px;
      }
      /* .headerhalo{
        margin-bottom: 0;
      }
      .playerturn{
        margin-bottom: 20px;
      } */
    } 

  @media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .gameContainer {
      display: flex;
      flex-direction: column;
    }
    .box{
      width: 55px;
      height: 55px;
    }
    .headerhalo{
      margin-bottom: 0;
    }
    .playerturn{
      margin-bottom: 20px;
    }
  }

  @media only screen and (max-width: 1100px) and (min-width: 850px){
    /* For mobile phones: */
    .gameContainer {
      width: 100%;
      height: 100%;
      text-align: center;
    }
      .box{
        width: 90px;
        height: 90px;
      }
    }