.gameContainer{
    color: white;
    width: 100%;
    height: 700px;
    position: relative;
    /* top:0;
    bottom: 0;
    left: 0;
    right: 0;  	 */
    margin: 10vh auto; 
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  
  .gameInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .score{
    color: inherit;
  }
  
  .GridContainer{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    align-items: center;
    justify-items: center;
    column-gap: 15px;
    row-gap: 15px;
  }
  .box{
    position: relative;
    background: white;
    width: 100px;
    height: 100px;
    cursor : pointer;
    border-radius: 2px;
    transition : all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
  }
  .boxGreen{
    position: relative;
    background: green;
    width: 100px;
    height: 100px;
    cursor : pointer;
    transition : all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
  }
  .box:hover{
    background: #6AC055;
    transition : all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
  }

  @media only screen and (max-width: 850px) and (min-width: 769px){
    /* For mobile phones: */
    .gameContainer {
      width: 100%;
      height: 100%;
      text-align: center;
    }

      .gameInfo{
        width: 30%;
        height: 30%;
      }
      .box{
        width: 80px;
        height: 80px;
      }
      /* .headerhalo{
        margin-bottom: 0;
      }
      .playerturn{
        margin-bottom: 20px;
      } */
    } 

  @media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .gameContainer {
      display: flex;
      flex-direction: column;
    }
    .box{
      width: 55px;
      height: 55px;
    }
    .headerhalo{
      margin-bottom: 0;
    }
    .playerturn{
      margin-bottom: 20px;
    }
  }

  @media only screen and (max-width: 1100px) and (min-width: 850px){
    /* For mobile phones: */
    .gameContainer {
      width: 100%;
      height: 100%;
      text-align: center;
    }
      .box{
        width: 90px;
        height: 90px;
      }
    }

    .multiPlayerStart{
      width: 200px;
      height: 400px;
      position: absolute;
      top:0;
      bottom: 0;
      left: 0;
      right: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      background-color: black;
  }
  .multiroom{     	
      margin: auto; 
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
  }
  
  .multi-items{
      cursor: pointer;
      min-height: 50%;
      min-width: 30%;
      color: white;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      text-align: center;
  }
  
  .multi-item{  
      transition: background-color 0.5s ease;
      border: 1px solid white; 
      /* width: 100%;
      height: 20%;
      text-align: center; */
  }
  
  input{
      width: 100%;
      height: 100%;
      border: none;
      background-color: transparent;
      outline: none;
      font-family: inherit;
      font-size: inherit;
      text-align: center;
  }
  
  ::placeholder{
      color: white;
      opacity: 1;
  }
  
  /* input:focus::placeholder {
      cursor: pointer;
      color: white;
      background-color: aliceblue;
  } */
  
  p{
      margin: 0;
  }
  /* .multi-item{
      width: 30%;
  } */
  .multi-item:active, .multi-item:hover, ::placeholder:active{
      background-color: white;
      color: rgb(2, 2, 22);
  }
  
  .multi-card{ 
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      
  }
  
  /* .inputRoom{
      width: 30%;
  } */