.multi-gameContainer{
  color: white;
  /* width: 100%;
  height: 100%; */
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;  	
  /* margin: 10vh auto;  */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.multi-header{
  margin: 0;
}


.multi-gameInfo{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.multi-gridContainer{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  align-items: center;
  justify-items: center;
  column-gap: 10px;
  row-gap: 10px;
}
.multi-box{
  position: relative;
  background: white;
  width: 7vw;
  height: 7vw;
  cursor : pointer;
  transition : all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
}
.multi-start{
  position: absolute;
  width: 28%;
  height: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: #141c27;
}
.multistart-createinput{
  transition: background-color 0.5s ease;
  border: 1px solid white;
  width: 70%;
  height: 20%;
  text-align: center;
  cursor: pointer;
  color: white;
  /* margin-bottom: 10%; */
}
.multistart-inputdiv{
  transition: background-color 0.5s ease;
  border: 1px solid white;
  width: 70%;
  text-align: center;
  cursor: pointer;
  /* margin-bottom: 10%; */
}
.multistart-container{
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  color: white;
}

.multistart-item{
  width: 80%;
  height: 20%;
  border: 1px solid white;
  background-color: white;
  color: #141c27;
}

.multistart-btn{
  transition: background-color 0.5s ease;
  border: 1px solid white;
  width: 70%;
  text-align: center;
  cursor: pointer;
  /* margin-bottom: 10%; */
}
.multistart-btn:active, .multistart-btn:hover, ::placeholder:active{
  background-color: white;
  color: #141c27;
} 

.multistart-createbtn{
  transition: background-color 0.5s ease;
  border: 1px solid white;
  color: white;
  background-color: transparent;
  /* width: 70%; */
  text-align: center;
  cursor: pointer;
  /* margin-bottom: 10%; */
}
.multistart-createbtn:active, .multistart-createbtn:hover, ::placeholder:active{
  background-color: white;
  color: #141c27;
} 
.multi-createstart{
  position: absolute;
  width: 20%;
  height: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: #141c27;
  text-align: center;
}

.multi-joinstart{
  position: absolute;
  width: 25%;
  height: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: #141c27;
}

.lobbycontainer{
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: stretch;
  text-align: center;
}

.lobbyitems{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: stretch;
  text-align: center;
}
.lobbyitem{
  border: 1px solid white;
}

input{
  width: 100%;
  height: 100%;
  border: none;
  background-color: white;
  outline: none;
  font-family: inherit;
  font-size: inherit;
  text-align: center;
}

::placeholder{
  color: #141c27;
  opacity: 1;
}

p{
  margin: 0;
}

.multino-header{
  margin: 0;
}
.multiturn-header{
  margin: 0;
}

@media only screen and (max-width: 1200px) and (min-width: 768px){
  .multi-gameInfo{
    font-size: 1.8rem;
  }
  .multi-start, .multi-joinstart, .multi-createstart{
    width: 45%;
    height: 30%;
  }
}

@media only screen and (max-width: 767px){
  .multi-gameContainer{
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      font-size: 1.7rem;
  }
  .multi-gridContainer{
    column-gap: 13px;
    row-gap: 13px;
  }
  .multi-box{
    position: relative;
    background: white;
    width: 15vw;
    height: 15vw;
    cursor : pointer;
    transition : all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
  }
  
  .multi-start, .multi-joinstart, .multi-createstart{
    width: 80%;
    height: 22%;
    font-size: 1.4rem;
  }
  .multi-header{
    margin-top: 10%;
  }
  .multino-header{
    margin: 0;
  }
  .multi-turn{
    margin: 10%;
  }
  .multiturn-header{
    margin: 0;
  }
  .gamecode{
    margin-bottom: 15%;
  }
  #lobby-header{
    margin-bottom: 0;
    font-size: 1.7rem;
  }

  .lobbycontainer{
    width: 80%;
  }
}

@media only screen and (max-width: 1200px) and (min-width: 768px){
  .multi-gameInfo{
    font-size: 1.8rem;
  }
  .multi-start, .multi-joinstart, .multi-createstart{
    width: 45%;
    height: 30%;
  }
}